<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home</a>
            <a class="nav-item nav-link active" href="/logout">Logout</a>
            <a class="nav-item nav-link active" href="/articles/create">Create Article</a>
        </div>
    </div>
</nav>
<div class="container-fluid mt-3">
    <h3 class="text-center font-weight-bold">Are you sure you want to delete this article?</h3>
    <h1 class="text-center font-weight-bold">Article: ${title}</h1>
    <div class="container content-container">
        <p class="text-center mx-auto half-width work-break-all">${content}</p>
    </div>
    <hr class="bg-secondary half-width" />
    <div class="meta-data-holder half-width mx-auto d-flex justify-content-between">
        <h5 class="text-center">Created by: ${author}</h5>
        <h5 class="text-center">Published on: ${publishedOn}</h5>
    </div>
    <form class="width-25 mx-auto" method="post" action="/articles/delete/${id}">
        <div class="button-holder d-flex justify-content-between">
            <button type="submit" class="btn btn-secondary">Delete</button>
            <a href="/articles/details/${id}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>
</body>
</html>